/**
 * @GroupName MoonsterDigital
 * @FileName COMP229_W2022-Group4-MoonsterDigital
 * @CourseCode COMP229
 * @Date Mar 13th 2022
 * @CourseName Web Application Development SEC005
 */

 body {
  height: 1054px;
  background-color: #FFF;
}
  p {
    color: #c9c6c6;
  }

  h3 {
    color: #ffffff;
  }

  .form-label {
    color: #c9c6c6;
  }

  .btn-orange {
    color: black;
    background-color: #f36518;
    border-color:#f36518;
  }

  .btn-orange:hover,
  .btn-orange:focus,
  .btn-orange.focus {
    color: black;
    background-color: #f55904;
    border-color:#f55904;
  }

  .btn-orange.disabled,
  .btn-orange:disabled {
    color: black;
    background-color: #db4e02;
    border-color:#db4e02;
  }

  .bottom-font {
    font-size: 0.8em;
  }

  .text-align-center {
    text-align: center;
  }

  .text-align-right {
    text-align: right;
  }

  .tournament-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tournament-card {
    background-color: black;
    opacity: 0.7;
    max-width: 320px;
  }

  .tournament-details {
    padding: 10px 20px 10px 20px;
  }

  .tournament-title-font {
    color: white;
  }

  .tournament-date-font {
    font-size: 0.9em;
  }

  .tournament-player-font {
    color: gray;
    font-size: 0.8em;
  }