<!--
 * @GroupName MoonsterDigital
 * @FileName COMP229_W2022-Group4-MoonsterDigital
 * @CourseCode COMP229
 * @Date Apr 1st 2022
 * @CourseName Web Application Development SEC005
-->

<!-- Register Page -->

<body class="body-background">
    <main class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h3>Register</h3>
                <br>
                <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username"
                            id="username" formControlName="username" required autofocus>
                    </div>

                    <!-- Password Field with Show and Hide Function-->
                    <fieldset class="form-group mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" name='password'
                                id='passwordTextField' formControlName="password" required autocomplete='off'>
                            <div class="input-group-append">
                                <button class="btn border-left-0 border" type="button" style="background-color: white;"
                                    onclick="ShowHidePassword()">
                                    <i class="fas fa-eye d-none" id="show_eye"></i>
                                    <i class="fas fa-eye-slash" id="hide_eye"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" name="email"
                        id="email" formControlName="email" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="displayName" class="form-label">Display Name</label>
                        <input type="text" class="form-control" name="displayName"
                        id="displayName" formControlName="displayName" required>
                    </div>

                    <!-- Register Page Button -->
                    <div>
                        <p>Need an account? <a href="/admin/login">Login</a></p>
                    </div>

                    <!-- Error Session-->
                    <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf='errorMessage != null'>
                      {{ errorMessage }}
                    </div>

                    <!-- Success Session-->
                    <div class="bg-primary mt-2 p-2 text-center text-white md-3" *ngIf='successMessage != null'>
                      {{ successMessage }}
                    </div>

                    <!-- Register Button -->
                    <button class="btn-orange btn" type="submit" [disabled]="!userForm.valid">
                        <i class="fas fa-check"></i><b> Register</b>
                    </button>

                </form>
            </div>
        </div>
    </main>
</body>