<%/**
 * @GroupName MoonsterDigital
 * @FileName COMP229_W2022-Group4-MoonsterDigital
 * @CourseCode COMP229
 * @Date Mar 13th 2022
 * @CourseName Web Application Development SEC005
 */%>

 <!-- Bottom Navigation -->
<footer></nav>
    <div class="container-fluid fixed-bottom text-align-right" style="background-color: #ffffff;">
      <label class="bottom-font">&copy;Copyrights 2022 Moonster Digital. All rights reserved.</label>
    </div>
</footer>